.footer__block{
    position: relative;
    margin-top: 25rem;
    @include bp($point_2){
        margin-top: 15rem;
    }
}
.footer__block__img{
    @include bp($point_6){
        margin-top: 50rem;
    }
}
.contact{
    padding-left: 25rem;
    position: absolute;
    top: -8rem;
    @include bp($point_4){
        padding-left: 8rem;
    }
    @include bp($point_6){
        padding-left: 0rem;
        top: -47rem !important;
    }
    &__wrapp{
        padding: 4rem;
        width: 48rem;
        background: #FFFFFF;
        border: 1px solid #EBEBEB;
        box-shadow: -4px 16px 32px rgba(45, 45, 45, 0.12);
        border-radius: 20px;
        @include bp($point_2){
            width: 100%;
        }
        
    }
    &__title{
        margin-bottom: 4rem;
        text-align: center;
        font-size: 4rem;
        font-family: $font_2;
        font-weight: 600;

    }
}
.info-list{
    margin-bottom: 4rem;
    display: flex;
    &__text-title{
        margin-bottom: 1rem;
        font-size: 2rem;
        font-family: $font_2;
        font-weight: 600;
    }
    &__text-desc {
        font-size: 1.8rem;
        font-family: serif;
        font-family: $font_2;
    }
    &__text-desc a{
       text-decoration: none;
       color:$black;
    }
    &__icon{
        margin-right: 1.5rem;
    }
}

.messengers{
    &__block{
        display: flex;
        margin-bottom: 4rem;
    }   
    &__item{
        margin-right: 3rem;
        cursor: pointer;
    }
}
.button-popup{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 24.9rem;
    height: 6rem;
    background-color:$green;
    border-radius:50px;
    color:$white;
    cursor: pointer;
    transition: background-color 0.6s;
    transition: box-shadow 0.6s;
}
.button-popup:hover{
    background: #14950B;;
    box-shadow: -7px 9px 24px rgba(20, 149, 11, 0.4);
}
.footer-end {
    margin-top: -1rem;
    background-color:$black;
    &__row{
        height: 6.8rem;
        display: flex;
        align-items:center;
        justify-content: space-between;
        @include bp($point_6){
            padding-top: 1.5rem;
            height: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__col{
        font-size: 1.6rem;
        font-family: $font_2;
        display: flex;
        align-items:center;
        height: 100%;
        color:$white;
        @include bp($point_6){
            margin-bottom: 1rem;
        }
    }
    &__col a{
        color:$white;
    }
   
    
}
.col-arkada{
    text-decoration: none;
}
.col-arkada img{
    margin-left:1rem ;
}





