.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:2rem;
    padding: 4rem 6rem 4rem 6rem;
    z-index: 20;
    background-color: #fff;
    display: none;
    max-width: 900px;
    transition: display 0.6s;
    @include bp($point_4){
        padding: 3rem 4rem 3rem 4rem;
    }
    @include bp($point_6){
        padding: 3rem;
    }
    &__row{
        margin-top: 5rem;
        display: flex;
        @include bp($point_4){
            flex-wrap: wrap;
        }
        @include bp($point_4){
            margin-top: 3rem;
        }
    }
    &__col-slide {
        position: relative;
        display: flex;
    }
    &__close{
        top: 25px;
        right: 25px;
        position: absolute;
        cursor: pointer;
    }
    &__slide img{
        max-width: 100%;
    }
    &__title{
        margin-bottom: 2rem;
        font-size: 3rem;
        font-family: $font_1;
    }
    &__text{
        margin-bottom: 2rem;
        font-family: $font_2;
    }
    &__col-info {
        margin-left: 8.5rem;
        @include bp($point_4){
            margin-top: 5rem;
            margin-left: 0rem;
        }
    }
    &__btn{
        margin-top: 4.4rem;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 24.1rem;
        height: 6rem;
        background-color: $green;
        border-radius:50px;
        color: $white;
        cursor: pointer;
    }
}

.arrow__slide{
    position: absolute;
    display: flex;
    align-items:center;
    &-right{
        margin-right: 10%;
    }
}
.row-desc {
    display: flex;
    flex-direction: column;
    &__title{
        font-size: 3rem;
        font-family: $font_1;
        margin-bottom: 2rem;
    }
    &__box{
        padding-right: 10px;
        height: 100px;
        overflow-y: scroll;
        font-size: 1.8rem;
        font-family: $font_2;
    }
    &__box p{
        margin-bottom: 2rem;
    }
}

.modal-form{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:2rem;
    padding: 8rem 4rem 8rem 4rem;
    z-index: 20;
    background-color: #fff;
    // padding: 2rem;
    border-radius:2rem;
    @include bp($point_6){
        width: 100%;
    }

    &__title{
        margin-bottom: 3rem;
        font-size: 4rem;
        text-align: center;
    }
    .modal-form__close-img{
        position: absolute;
        right: 2rem;
        top: 2rem;
        cursor: pointer;
    }
}
// .modal-form::before{
//     content: '';
// 	background: #000;
// 	position: fixed; 
// 	left: 0;
// 	top: 0;
// 	width: 100%; 
// 	height: 100%;
// 	opacity: 0.7;
// 	z-index: 9999;
// }


.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    &__input{
        padding-left: 2.5rem;
        margin-bottom: 1rem;
        max-width: 38.4rem;
        height: 6.8rem;
        width: 100%;
        border-radius:50px;
        background-color:#F4F4F4;
        border:none;
        font-family: $font_2;
        color:$black;
    }
    &__btn{
        margin-top: 2rem;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 38.4rem;
        height: 6.8rem;
        background-color:$green;
        border-radius:50px;
        color:$white;
    }
    &__checkbox{
        margin-top: 2.7rem;
        display: flex;
 
        
    }
    &__checkbox label{
        font-family: $font_2;
        font-size: 1.6rem;
        cursor: pointer;
        display: flex;
        user-select: none;
    }
 
}

.contactForm__checkbox-custom{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.contactForm__checkbox-custom + label::before{
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 5px;
    margin-right: 0.5rem;
    background-color:#F4F4F4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

}
.contactForm__checkbox-custom:checked + label::before{
    background-color: #F4F4F4;
    background-image: url("../../i/icons/check.svg");
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10;
    display: none;
    cursor: pointer;
}

.modal.is-show,
.overlay.is-show{
   display: block;
}
.modal-form.is-show,
.overlay.is-show{
   display: block;
}

.modal__slide {
    position:relative;
    }
.modal__slide div img{
    position: absolute;
    margin: auto;
    // left: 0;
    // top: 0;
    // bottom: 0;
    // right: 0;
    }


.slick-track{
    width: 371px !important;
}
.modal__slide div{
    width: 371px;
    // height: 100%;
    height: 250px;

}
.slick-track{
    display: flex !important;
//     transform: (translate3d(0px, 0px, 0px)) !important;
// }
}

.slick-dots li{
    width: 7px !important;
    height: 7px !important;
    background-color:#D9D9D9;
    border-radius:50px;
}

li.slick-active {
    background-color:#18B60C !important;
    border-radius:50px;
}
.prev,
.next {
  position: absolute;
  top: 45%;
  height: 15px;
  width: 8px;
  z-index: 1;
  cursor: pointer;
  right: 104%;
}
.next {
  right: -20px;

}
.slick-dotted.slick-slider{
    margin-bottom: 0px !important;
}

.row-desc__box::-webkit-scrollbar {
    width: 3px; 
 }

 .row-desc__box::-webkit-scrollbar-track {
  background-color: #D9D9D9
}

.row-desc__box::-webkit-scrollbar-thumb {
  background: #18B60C;
  border-radius: 25px;
}