img {
	max-width: 100%;
}
.main{
    padding-top: 21.5rem;
    padding-left: 25rem;
    padding-right: 25rem;
    background-image: url(../i/bg-main.png);
    background-size: cover;
    height: 82.5rem;
    background-repeat: no-repeat;
    display: flex;
    @include bp($point_1400){
        padding-left: 10rem;
        padding-right: 10rem;
    }
    @include bp($point_2){
        padding-top: 17.5rem;
    }
    @include bp($point_4){
        padding-top: 12.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        height: 76.5rem;
    }
    &__title{
        font-size: 44px;
        font-family: $font_1;
        color:$white;
        @include bp($point_0){
            font-size: 42px;
        }
        @include bp($point_4){
            font-size: 40px;
        }
        @include bp($point_6){
            font-size: 36px;
        }
    }
    &__btn{
        margin-top: 5rem;
        color:$white;
    }
    &__col-img{
        position: absolute;
        right: 25rem;
        @include bp($point_0){
            width: 45%;
            right: 25rem;
        }
        @include bp($point_1400){
           right: 15rem;
        }
        @include bp($point_2){
            top:40%;
            width: 52%;
         }
         @include bp($point_6){
            top:46%;
            width:90%;
            right: 3rem;
         }

    }
  
    &__col-img img{
        // @include bp($point_0){
        //     width: 70%;
        // }
    }
    // &__screen::after {
    //     content: url(../i/img-main.png);
    //     position: absolute;
    //     right: 25rem;
    //     bottom: 0;
    //     z-index: 3;
    // }
}
.main__title span {
    position: relative;

}
.main__title span::after{
    position: absolute;
    bottom: 0;
    top: -5.5px;
    left: -12px;
    content: url(../i/icons/oval-text.svg);
    @include bp($point_0){
        top: -8px;
        left: -13px;
    }
    @include bp($point_6){
        left: -24px;
    }
}
.advant-block{
    position: relative;
    margin-top: -22rem;
    background-image: url(../i/bg-block2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
    background-position: center;
    @include bp($point_4){
       margin-top: -6rem;
    }
    &__title{
        margin-top: -10rem;
        margin-bottom: 22rem;
 
        @include bp($point_2){
            margin-top: -23rem;
        }
        @include bp($point_4){
            margin-bottom: 5rem;
        }
    }
   
    &__title::after{
        position: absolute;
        right: 20%;
        content: url(../i/img-flower2.png);
        @include bp($point_2){
            right: 10%;
        }
        @include bp($point_4){
            right: 0%;
        }
        @include bp($point_6){
            display: none;
        }
    }
    &__row{
        display: flex;
        height: 50rem;
        position: relative;
        justify-content: space-between;
        width: 100%;
        @include bp($point_4){
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__row::after{
        top:-40%;
        bottom: 0;
        left: 36%;
        position: absolute;
        content: url('../i/img-plate.png');
        @include bp($point_0){
            left: 30%;
            top: -50%;
        }
        @include bp($point_1400){
            left: 25%;
        }
        @include bp($point_2){
            left: 22%;
        }
        @include bp($point_4){
            display: none;
        }
    }
    &__col{
        margin-top: 4rem;
        @include bp($point_6){
            margin-top: 0rem;
            margin-bottom: 4rem;
        }
    }
    
}
.advant-elem{
    width: 44.5rem; 
    height: 15.5rem; 
    margin-left: -6%;
    background: $black;
    position: relative;
    border-radius: 30px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.12);
    z-index: 9;
    @include bp($point_2){
       width: 36.5rem;
       margin-left: -0%;
    }
    &::before{
        content: "";
        display: block;
        height: 25px;
        width: 25px;
        background-color: inherit;
        border: inherit;
        position: absolute;
        top: calc(50% - 12px);
        left: 96%;
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        transform: rotate(-135deg);
        border-radius: 0 0 0 0.3em;
        @include bp($point_4){
           display: none;
        }
    }
    

    &__item{
        position: relative;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        @include bp($point_4){
           text-align: center;
        }
   
    }

    &__block{
        margin-left: 2.5rem;
        color: $white;
        @include bp($point_4){
            margin-left: 0rem;
        }
    }

    &__title{
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 2rem;
        font-family: $font_2;
    }
    &__text{
        width: 27rem;
        font-size: 1.8rem;
        font-family: $font_2;
    }
    &__icon{
        @include bp($point_2){
            display: none;
         }
    }
}
.advant-elem:nth-child(2n){
    margin-left: 28%;
    margin-top: 4rem;
    background-color: #fff;
    @include bp($point_0){
        margin-left: 13%;
    }
    @include bp($point_2){
       margin-left: 0%;
     }
}
.visual-elem{
   padding-top: 10rem;
}
.visual-elem img{
    padding-top: 0rem;
    @include bp($point_4){
     display: none;
   }
 }
.advant-elem-right{
    width: 44.5rem; 
    height: 15.5rem; 
    margin-left: 22%;
    background: $black;
    position: relative;
    border-radius: 30px;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.12);
    z-index: 9;
    @include bp($point_2){
        width: 36.5rem;
     }
     @include bp($point_2){
        margin-left: 0%;
      }
    &::before{
        content: "";
        display: block;
        height: 25px;
        width: 25px;
        background-color: inherit;
        border: inherit;
        position: absolute;
        top: calc(50% - 12px);
        right: 96%;
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        transform: rotate(45deg);
        border-radius: 0 0 0 0.3em;
        @include bp($point_4){
            display: none;
         }
    }
}
.advant-elem-right:nth-child(2n){
    margin-left: -8%;
    margin-top: 4rem;
    background-color: #fff;
    @include bp($point_0){
        margin-left: 5%;
    }
    @include bp($point_2){
        margin-left: 0%;
    }
}
.advant-block::after{
    top:95%;
    position: absolute;
    left: 50%;
    content: url('../i/curve-line.png');
    @include bp($point_0){
        top:140rem;
    }
    @include bp($point_1400){
        top:152rem;
    }
    @include bp($point_2){
        top:89%;
    }
    @include bp($point_4){
       display: none;
     }
}
.empty-height{
    height: 20rem;
    @include bp($point_0){
        height: 40rem;
    }
    @include bp($point_0){
        height: 0rem;
    }
    
}
.catalog{
    margin-top: 10rem;
    @include bp($point_1400){
        margin-top: 20rem;
    }
    @include bp($point_4){
        margin-top: 34rem;
    }
    @include bp($point_6){
        margin-top: 28rem;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 8rem;
        @include bp($point_4){
            justify-content: center;
        }
    }
    &__title{
        margin-bottom: 7rem;
        @include bp($point_6){
            margin-bottom: 3rem;
        }
    }
}

.product{
    margin-bottom:2rem;
    padding: 20px;
    width: 34rem;
    border: 1px solid #EBEBEB;
    box-shadow: -4px 16px 32px rgba(45, 45, 45, 0.12);
    border-radius: 20px;
    &__img{
        margin-bottom: 1.5rem;
    }
    &__title{
        margin-bottom: 1rem;
        font-family: $font_2;
        font-size: 2rem;
        font-weight: 600;
        line-height: 24px;

    }
    &__desc {
        margin-bottom: 3rem;
        font-family: $font_2;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 22px;
    }
    &__btn{
        width: 20.4rem;
        height: 6rem;
        background-color:$green;
        display: flex;
        align-items:center;
        justify-content: center;
        border-radius:50px;
        color:$white;
        cursor: pointer;
    }
} 

.pagination{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 5rem;
    &__arrow{
        cursor: pointer;
    }
    &__list{
        display: flex;
        align-items:center;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    &__list li{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        background-color:$black;
        border-radius:5px;
        color:$white;
        cursor: pointer;
    }
}

.promotionBlock{
    position: relative;
    display: flex;
    align-items:center;
    height: 85rem;
    background-image:url('../i/bg-share.png');
    color:$white;
    background-size:cover;
    @include bp($point_2){
        background-position: top;
    }

    &__img{
        position: absolute;
        right: 0;
        width: 40%;
        top: 5rem;
        @include bp($point_2){
            width: 46%;
        }
        @include bp($point_6){
            width: 68%;
        }
    }
    &__img img{
        max-width: 100%;
    }
    &__info{
        width:80rem;
        @include bp($point_2){
            width: 100%;
        }
    }
    &__title{
        padding-top: 15rem;
        font-size: 4rem;
        font-family: $font_1;
        margin-bottom: 2rem;
        @include bp($point_6){
            padding-top: 9rem;
        }
    }
    &__desck{
        font-size: 2rem;
        font-family: $font_2;
        margin-bottom: 6rem;
        line-height: 24px;
    }
    &__btn{
        color:$white;
    }
}

.aboutUs{
    margin-top: -20rem;
    background-image:url(../i/bg-offer.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom: 30rem;
    &::after{
        position: absolute;
        content:url(../i/curve-line2.png);
        right:0;
        margin-top: -15rem;
        @include bp($point_2){
            margin-top: 0rem;
        }
    }
    &__row {
        padding-top: 12rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
        @include bp($point_2){
            margin-top: 0rem;
        }
    }
    &__img{
        position: relative;
        z-index: 9;

    }
    &__img{
        @include bp($point_2){
           display: none;
        }

    }
    &__info{
        margin-left: 16rem;
        width: 84rem;
        @include bp($point_2){
            padding-top: 13rem;
            margin-left: 0rem;
            width: 100%;
        }
        @include bp($point_6){
            padding-top: 7rem;
        }
    }
    &__title{
        margin-bottom: 4rem;
        font-size: 4rem;
        font-family: $font_1;
    }
    &__description {
        font-size: 1.8rem;
        font-family: $font_2;
        line-height: 22px;
    }
    &__description p{
        margin-bottom: 2rem;

    }
}
.video{
    position: relative;
    margin-top: -15rem;

    &__title{
        margin-bottom: 4rem;
    }
    &__v{
        text-align: center;
    }
    &__play {
        position: absolute;
        top: 50%;
        right: 0;
        bottom:0;
        left: 0;
        cursor: pointer;
    }
    &__v::before{
        position: absolute;
        content:url(../i/curve-line3.png);
        left:0;
        bottom: 0;
        z-index: -1;
        @include bp($point_4){
            display: none;
        }
    }
    &__v::after{
        margin-left: 6rem;
        position: absolute;
        content:url(../i/img-strawberry-video.png);
        @include bp($point_1400){
            margin-left: -6rem;    
        }
        @include bp($point_3){
            display: none; 
        }
      
    }
   
} 
