.btn{
    border-radius: 5rem;
    background: #18B60C;
    cursor: pointer;
    width: 30.7rem;
    height: 7.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
	font-family: $font_1;     
    // transition: background 3s linear;
    z-index: 1000;
    transition: background-color 0.6s;
    transition: box-shadow 0.6s;
}
.btn:hover{
    background: #14950B;;
    box-shadow: -7px 9px 24px rgba(20, 149, 11, 0.4);
   
}
// .titleBlock{
//     font-size: 6rem;
//     font-family: $font_1;
//     color: #000;
//     text-transform: uppercase;
//     line-height: 1.2;
//     text-align: left;
// 		@include bp ($point_3){
// 			font-size: 4.2rem
// 		}
// }



.title-block{
    font-size: 4rem;
    font-family: $font_1;
    text-align: center;
}

