extends _layout
block content_block
	section_in
		section.main 
			.main__screen 
				.main__title Свежая и вкусная <span> клубника </span> <br> оптом и в розницу
				.main__btn.btn Заказать клубнику
			.main__col
				.main__col-img 
					img(src="i/img-main.png", alt="")

	
	
	.advant-block 
		.visual-elem 
			img(src="i/img-flower.png", alt="")
			.section_in
				.advant-block__title.title-block Наши преимущества
				.advant-block__row 
					.advant-block__col
						.advant-elem
							.advant-elem__item
								.advant-elem__icon 
									img(src="i/img-adwant.png", alt="")
								.advant-elem__block
									.advant-elem__title Качество продукта
									.advant-elem__text Наша клубника не содержит вредных компонентов.
				
						.advant-elem
							.advant-elem__item
								.advant-elem__icon 
									img(src="i/img-adwant.png", alt="")
								.advant-elem__block(style="color:#000;")
									.advant-elem__title Удобная доставка
									.advant-elem__text Доставим по Краснодарскому краю и другим областям.
					
					.advant-block__col
						.advant-elem-right
							.advant-elem__item
								.advant-elem__icon 
									img(src="i/img-adwant.png", alt="")
								.advant-elem__block
									.advant-elem__title Качество продукта
									.advant-elem__text Наша клубника не содержит вредных компонентов.
				
						.advant-elem-right
							.advant-elem__item
								.advant-elem__icon 
									img(src="i/img-adwant.png", alt="")
								.advant-elem__block(style="color:#000;")
									.advant-elem__title Удобная доставка
									.advant-elem__text Доставим по Краснодарскому краю и другим областям.
						

	.empty-height
	.section_in
		.catalog 
			.catalog__title.title-block Каталог продукции
			.catalog__row 

			.catalog__list 
				.catalog__product.product  
					.product__img 
						img(src="i/card1.png", alt="")
					.product__title Клубника “Мурано”
					.product__desc Сорт ремонтантный
					.product__btn Подробнее

				.product  
					.product__img 
						img(src="i/card2.png", alt="")
					.product__title Клубника “Мурано”
					.product__desc Сорт ремонтантный
					.product__btn Подробнее

				.product  
					.product__img 
						img(src="i/card3.png", alt="")
					.product__title Клубника “Мурано”
					.product__desc Сорт ремонтантный
					.product__btn Подробнее

				.product  
					.product__img 
						img(src="i/card4.png", alt="")
					.product__title Клубника “Мурано”
					.product__desc Сорт ремонтантный
					.product__btn Подробнее

				.product  
					.product__img 
						img(src="i/card5.png", alt="")
					.product__title Клубника “Мурано”
					.product__desc Сорт ремонтантный
					.product__btn Подробнее

				.product  
					.product__img 
						img(src="i/card6.png", alt="")
					.product__title Клубника “Мурано”
					.product__desc Сорт ремонтантный
					.product__btn Подробнее

				.product  
					.product__img 
						img(src="i/card7.png", alt="")
					.product__title Клубника “Мурано”
					.product__desc Сорт ремонтантный
					.product__btn Подробнее

				.product  
					.product__img 
						img(src="i/card7.png", alt="")
					.product__title Клубника “Мурано”
					.product__desc Сорт ремонтантный
					.product__btn Подробнее
					
		.catalog__pagination.pagination 
			.pagination__arrow
				.pagination__arrow-left
					img(src="i/icons/arrow-left.svg", alt="")
			ul.pagination__list 
				li 1
				li 2
				li 3
				li 4

			.pagination__arrow
				.pagination__arrow-right
					img(src="i/icons/arrow-right.svg", alt="")

				
	.promotionBlock
		.promotionBlock__img 
			img(src="i/img-spoon.png", alt="")
		.section_in
			.promotionBlock__info
				.promotionBlock__title Акционное предложение
				.promotionBlock__desck Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				.promotionBlock__btn.btn Оставить заявку

	.aboutUs 
		.section_in 
			.aboutUs__row 
				.aboutUs__col 
					.aboutUs__img
						img(src="i/img-strawberry.png", alt="")
				.aboutUs__col
					.aboutUs__info
						.aboutUs__title Мы лучшие в своем деле!
						.aboutUs__description 
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						
	.video
		.section_in 
			.video__title.title-block Посмотрите видео о нас

			.video__v
				img(src="i/video-prev.jpg", alt="")

				.video__play 
					img(src="i/icons/play.svg", alt="")