extends _layout
block content_block
	section_in
		section.main 
			.main__screen 
				.main__title Свежая и вкусная <span> клубника </span> <br> оптом и в розницу
				.main__btn.btn Заказать клубнику
			.main__col
				.main__col-img 
					img(src="i/img-main.png", alt="")

	
	
	.advant-block 
		.visual-elem 
			img(src="i/img-flower.png", alt="")
			.section_in
				.advant-block__title.title-block Наши преимущества
				.advant-block__row 
					.advant-block__col
						.advant-elem
							.advant-elem__item
								.advant-elem__icon 
									img(src="i/img-adwant.png", alt="")
								.advant-elem__block
									.advant-elem__title Качество продукта
									.advant-elem__text Наша клубника не содержит вредных компонентов.
				
						.advant-elem
							.advant-elem__item
								.advant-elem__icon 
									img(src="i/img-adwant.png", alt="")
								.advant-elem__block(style="color:#000;")
									.advant-elem__title Удобная доставка
									.advant-elem__text Доставим по Краснодарскому краю и другим областям.
					
					.advant-block__col
						.advant-elem-right
							.advant-elem__item
								.advant-elem__icon 
									img(src="i/img-adwant.png", alt="")
								.advant-elem__block
									.advant-elem__title Качество продукта
									.advant-elem__text Наша клубника не содержит вредных компонентов.
				
						.advant-elem-right
							.advant-elem__item
								.advant-elem__icon 
									img(src="i/img-adwant.png", alt="")
								.advant-elem__block(style="color:#000;")
									.advant-elem__title Удобная доставка
									.advant-elem__text Доставим по Краснодарскому краю и другим областям.

	.empty-height
	.catalog 
		.catalog__title.title-block Каталог продукции
		.catalog__row 
			